.resume-container{
    min-height: 150px;
    /* background-color: lightcoral; */
    display: flex;
    flex-direction: column;
}

.resume-box{
    min-height: 150px;
    width: 65%;
    background-color: #F5FE93;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.resume-control-buttons{
    margin-top: 9px;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
}

